In [1]:
from nb_setup_v2 import get_assets, list_tables

pd, engine = get_assets()
print(f"Success! Tables: {list_tables()}")

Success! Tables: ['macro_data', 'market_data_filled', 'market_data_sycned']

In [2]:
query = """
SELECT 
    m.Date, 
    m.M2, 
    f.SP500, 
    f.BTC, 
    f.Gold
FROM macro_data m
LEFT JOIN market_data_filled f ON m.Date = f.Date
WHERE f.SP500 IS NOT NULL
ORDER BY m.Date ASC
"""

df = pd.read_sql(query, engine)
df['Date'] = pd.to_datetime(df['Date'])
df.head()

        Date       M2        SP500         BTC         Gold
0 2016-01-01  12505.5  2012.660034  434.334015  1075.099976
1 2016-02-01  12577.7  1939.380005  373.056000  1127.900024
2 2016-03-01  12628.6  1978.349976  435.122986  1230.300049
3 2016-04-01  12707.6  2072.780029  417.959991  1222.199951
4 2016-05-01  12774.6  2065.300049  451.875000  1289.199951